:root,
:root.light {
	--radius: 10px;
	--primary: hsl(40, 90%, 50%);
	--primary75: hsla(40, 90%, 50%, 75%);
	--primary50: hsla(40, 90%, 50%, 50%);
	--primary25: hsla(40, 90%, 50%, 25%);

	--accent: hsl(0, 0%, 93%);
	--accent75: hsla(0, 0%, 93%, 75%);
	--accent50: hsla(0, 0%, 93%, 50%);
	--accent25: hsla(0, 0%, 93%, 25%);

	--color: white;
	--text: hsl(0, 0%, 10%);

	--danger: hsl(0, 90%, 50%);
	--danger75: hsla(0, 90%, 50%, 75%);
	--danger50: hsla(0, 74%, 15%, 0.5);
	--danger25: hsla(0, 90%, 50%, 25%);

	--success: hsl(100, 90%, 50%);
	--success75: hsla(100, 90%, 50%, 75%);
	--success50: hsla(100, 90%, 50%, 50%);
	--success25: hsla(100, 90%, 50%, 25%);
}

:root.dark {
	--accent: hsl(0, 0%, 10%);
	--color: hsl(0, 0%, 20%);
	--text: hsl(0, 0%, 100%);
	color-scheme: light dark;
}

body {
	background-color: var(--accent);
	color: var(--text);

}

/* --------- Toasts --------- */
.toast {
	position: fixed;
	top: 1rem;
	right: 1rem;
	background-color: var(--primary75);
	color: white;
	padding: 1rem;
	border-radius: var(--radius);
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
	z-index: 1000;
	width: clamp(200px, 50%, 400px);
	font-size: 1.25rem;
	transition: all 0.3s ease-in-out;
	animation: slideIn 1s ease-in-out forwards;
	top: -100%;
}

.toast.error {
	background-color: var(--danger75);
}

.toast.success {
	background-color: var(--success75);
}



@keyframes slideIn {
	0% {
		top: -100%;
	}

	100% {
		top: 1rem;
	}
}

/* Buttons  */

button {
	padding: 0.5rem 1rem;
	border: none;
	border-radius: var(--radius);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

button[popovertargetaction="hide"] {
	position: absolute;
	top: 0;
	right: 0;
	background-color: transparent;
	font-size: 2rem;
	border: none;
	cursor: pointer;
	z-index: 5;

	&:hover {
		color: red;
	}
}


.btn-edit {
	background-color: var(--primary75);
	color: white;
}

.btn-delete {
	background-color: var(--danger75);
	color: white;
}

.btn-success {
	background-color: var(--success);
	color: white;
}



/* Estados de las Ventas */
.pending {
	background-color: var(--danger75);
	padding: 0.25rem 0.5rem;
	border-radius: var(--radius);
	color: white;
}

.pay {
	background-color: var(--success75);
	padding: 0.25rem 0.5rem;
	border-radius: var(--radius);
	color: white;
}