---
import "@/styles/reset.css";
import "@/styles/global.css";
import { ViewTransitions } from "astro:transitions";
import Navbar from "@/components/Navbar/Navbar.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Sistema POS desarrolado por JoseDv1 (Jose Villegas)"
		/>
		<link rel="icon" href="/favicon.webp" type="image/webp" />
		<meta name="viewport" content="width=device-wiamage/webp" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
		<title>POS System - {title}</title>
	</head>
	<body>
		<Navbar />
		<main>
			<slot />
		</main>
		<style>
			main {
				margin-left: 6.5rem;
			}
		</style>
	</body><!-- Sistema POS Desarrolado por JoseDv1 (Jose Villegas)  --><!-- Github: https://github.com/JoseDv1 --><!-- Web: https://josedv.com -->
</html>
