---
import "@/styles/reset.css";
import "@/styles/global.css";
import { ViewTransitions } from "astro:transitions";
import Navbar from "@/components/Navbar/Navbar.astro";
import Toast from "@/components/Toast.svelte";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
		<!-- BoxIcons -->
		<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<main>
			<slot />
		</main>
		<style>
			main {
				padding-left: 6.5rem;
			}
		</style>
	</body>
</html>
